body {
    margin: 0;
  }
  
#preloader{
    background: #000 url(images/pre.gif) no-repeat center;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    
    z-index: 100;
}