body {
  margin: 0;
  background: var(--bg, #010725);
}

#preloader{
  background: #010725  url(images/up.gif) no-repeat center;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  
  z-index: 100;
}